{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'detail_post.css' %}"/> 
{% endblock css %}

{% block content %}
<div class="emotion">
    {{post.emotion}} 
</div>
<div class="uploaded">
    {{post.uploaded}}
</div>
<div class="photo">
    <img src='{{post.photo.url}}'>    
</div>
<div class="contnet">
    {{post.content}}    
</div>
<a href="{% url 'home' %}">홈으로</a>
<a href="{% url 'list_diary' %}">리스트로</a>

{% endblock content %}
