{% extends 'base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'new_post_2.css' %}"/> 
{% endblock css %}

{% block content %}

<div class="uploaded">
    {{post.uploaded}}
</div>
<figure class="photo">
    <img src='{{post.photo.url}}'>    
</figure>
<form method="POST">
    {% csrf_token %}
    <label>
        <input type="radio" name="emotion" value=1>
        행복했어요 ^o^
    </label>
    <label>
        <input type="radio" name="emotion" value=2>
        슬펐어요 T^T
    </label>
    <label>
        <input type="radio" name="emotion" value=3>
        화가 났어요 -_-
    </label>
    <textarea name="content" placeholder="내용을 작성하세요."></textarea>
    <button type="submit">
        완료
    </button>
</form>
{% endblock content %}
